body{
    margin: 0 auto;
    width: 1200px;
    background-image: url(images/index-background.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.login{
    position: relative; left: 95%;
    text-decoration: none;
    width: 3.2%;
}

.login a{
    text-decoration: none;
    color: white;
}

.login a.active{
    color: green;
}

.login::after{
    content: '';
    height: 3px;
    width: 0;
    background: green;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.login:hover:after{
    width: 100%;
}

.horizontal-menu{
    width: 820px;
}

.horizontal-menu a{
    text-decoration: none;
    color: white;
}

.horizontal-menu a.active{
    color: green;
}

.horizontal-menu li a:hover{
    transform: translateY(10px);
}

ul.nav > li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

ul.nav li::after{
    content: '';
    height: 3px;
    width: 0;
    background: green;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

ul.nav li:hover:after{
    width: 100%;
}

.logo{
    position: relative; left: -330px;
}

.right_text{
    padding-left: 600px;
}

.icons_index{
    margin-top: 200px;
    margin-left: 290px;
}

.icons_index a:nth-child(2){
    display: none;
}

.icons_index:hover a:nth-child(1){
    display: none;
}

.icons_index:hover a:nth-child(2){
    display: block;
}

.icons_index p {
    display: none;
}

.icons_index:hover p{
    display: block;
}

.web_development{
    position: fixed;
}

.ppc{
    margin-left: 370px;
    position: fixed;
}

.strategia{
    margin-left: 450px;
    position: fixed;
}

.seo{
    margin-left: 530px;
    position: fixed;
}
.social_media{
    margin-left: 610px;
    position: fixed;
}

.content_marketing{
    margin-left: 690px;
    position: fixed;
}

.marketing_aplikacji{
    margin-left:770px;
    position: fixed;
}

.analityka {
    margin-left: 850px;
    position: fixed;
}

.index_content{
    width: 60%;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    text-align: center;
}