body{
    margin: 0 auto;
    width: 1200px;
    background-image: url(images/index-background.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.login{
    position: relative; left: 95%;
    text-decoration: none;
    width: 10px;
}

.login a{
    text-decoration: none;
    color: darkorchid;
    padding-right: 50px;
}

.login a:hover{
    color: #ff00c7;
}

.login a.active{
    color: green;
}

.horizontal-menu{
    width: 820px;
}

.horizontal-menu a{
    text-decoration: none;
    color: darkorchid;
    padding-right: 50px;
}

.horizontal-menu a:hover{
    color: #ff00c7;
}

.horizontal-menu a.active{
    color: green;
}

.horizontal-menu li a{
    display:  block;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px #fff;
    letter-spacing: 1px;
    transition: transform 0.25s;
}

.horizontal-menu:hover li a{
    text-shadow: 0px 0px 1px #0d1a3a;
}

.horizontal-menu li a:hover{
    transform: translateY(10px);
}

ul.nav > li{
    display: inline-block;
}

.logo{
    position: relative; left: -330px;
}

.rigth_text{
    padding-left: 600px;
}

.icons_index a:nth-child(2){
    display: none;
}

.icons_index:hover a:nth-child(1){
    display: none;
}

.icons_index:hover a:nth-child(2){
    display: block;
}

.icons_index p {
    display: none;
}

.icons_index:hover p{
    display: block;
}

.ppc{
    margin-left: 80px;
    position: fixed;
}

.web_development{
    position: fixed;
}

.strategia{
    margin-left: 160px;
    position: fixed;
}

.seo{
    margin-left: 240px;
    position: fixed;
}
.social_media{
    margin-left: 320px;
    position: fixed;
}

.content_marketing{
    margin-left: 400px;
    position: fixed;
}

.marketing_aplikacji{
    margin-left: 480px;
    position: fixed;
}

.analityka{
    margin-left: 560px;
    position: fixed;
}