body{
    aspect-ratio: auto;
    padding: 0;
    margin: 0;
}

.section{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.video_background{
    aspect-ratio: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.video_background_other_pages{
    aspect-ratio: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.login{
    position: fixed;
    left: 92%;
    top: 3%;
    text-decoration: none;
}

.login > a{
    background: transparent;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 400;
    padding: 1px 10px;
    transition: 0.5s;
    margin-left: 10px;
}

.login > a:hover{
    letter-spacing: 0.05em;
    background: #1e9bff;
    box-shadow: 0 0 35px #1e9bff;
    z-index: -1;
}

.horizontal-menu{
    display: flex;
    position: fixed;
    left: 32%;
    top: 7%;
}

ul.nav > li{
    text-decoration: none;
    display: inline-block;
}

ul.nav > li > a{
    background: transparent;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 400;
    padding: 1px 10px;
    transition: 0.5s;
    margin-left: 10px;
}

ul.nav > li > a:hover{
    letter-spacing: 0.05em;
    background: #1e9bff;
    box-shadow: 0 0 35px #1e9bff;
    z-index: -1;
}

ul.nav > li > a > span{
    position: relative;
    z-index: 1;
}

ul.nav > li > a > i{
    position: fixed;
    inset: 0;
    display: block;
}

.logo{
    position: fixed;
    top: 4%;
    left: 2%;
}

.icons_index{
    margin-top: 740px;
    margin-left: 570px;
}

.icons_index a:nth-child(2){
    display: none;
}

.icons_index:hover a:nth-child(1){
    display: none;
}

.icons_index:hover a:nth-child(2){
    display: block;
}

.icons_index p {
    display: none;
    color: white;
}

.icons_index:hover p{
    display: block;
}

.web_development{
    position: fixed;
}

.ppc{
    margin-left: 650px;
    position: fixed;
}

.strategia{
    margin-left: 730px;
    position: fixed;
}

.seo{
    margin-left: 810px;
    position: fixed;
}
.social_media{
    margin-left: 890px;
    position: fixed;
}

.content_marketing{
    margin-left: 970px;
    position: fixed;
}

.marketing_aplikacji{
    margin-left: 1050px;
    position: fixed;
}

.analityka {
    margin-left: 1130px;
    position: fixed;
}

.buttons{
    position: fixed;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    color: white;
    cursor: pointer;
    overflow: hidden;
}

.web_button{
    top: 25%;
    left: 30%;
}

.ppc_button{
    top: 25%;
    left: 55%;
}

.strategia_button{
    top: 38%;
    left: 30%;
}

.seo_button{
    top: 38%;
    left: 55%;
}

.social_media_button{
    top: 51%;
    left: 30%;
}

.content_marketing_button{
    top: 51%;
    left: 55%;
}

.marketing_aplikacji_button{
    top: 64%;
    left: 30%;
}

.analityka_button{
    top: 64%;
    left: 55%;
}

.buttons > span{
    background: black;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.buttons:hover > span{
    width: 100%;
}

.buttons:hover{
    border: none;
}

.popup{
    width: 1000px;
    height: 300px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 1;
}

.popup_x{
    position: fixed;
    width: 25px;
    height: 25px;
    left: 97.3%;
    top: 0.5%;
}

.slider_wrapper{
    position: fixed;
    max-width: 1200px;
    top: 16%;
    left: 20%;
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 24px 48px -12px hsla(0, 0%, 0%, 0.25);
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider_nav{
    display: flex;
    column-gap: 16px;
    position: fixed;
    left: 50%;
    top: 92%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider_nav a{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 0.25s;
}

.slider_nav a:hover{
    opacity: 1;
}
