<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="images/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kontakt</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="web_script.js"></script>
    <div class="logo">
        <a href="/">
            <img src="images/adverte_logo_gif.gif">
        </a>
    </div>
</head>
<body>
    <div class="section">
        <div class="video_background_other_pages">
            <video autoplay loop muted>
                <source src="images/adverte_background2_mp4.mp4" type="video/mp4">
            </video>
        </div>
        <div class="logo">
            <a href="/">
                <img src="images/adverte_logo_gif.gif" type="image/gif">
            </a>
        </div>
        <div class="login">
            <a href="/logowanie">Login</a>
        </div>
        <div class="horizontal-menu">
            <ul class="nav">
                <li><a href="/"><span>Strona główna</span></a></li>
                <li><a href="/uslugi"><span>Usługi</span></a></li>
                <li><a href="partnerzy.html#slide_1"><span>Partnerzy</span></a></li>
                <li><a href="/onas"><span>O nas</span></a></li>
                <li><a href="/kontakt"><span>Kontakt</span></a></li>
            </ul>
        </div>
        <div class="kontakt_tekst">
            <figure>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.020915216208!2d16.916293316114174!3d52.406297152401535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x32be4cbef2a2ae12!2sUniwersytet+Ekonomiczny+w+Poznaniu!5e0!3m2!1spl!2spl!4v1475046953566"
                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
                </iframe>
                <figcaption>
                    <h1>Nasza lokalizacja</h1>
                </figcaption>
            </figure>
            <h3>
                <address>
                al. Niepodległości 10 <br/>
                61-875 Poznań <br/>
                tel. +48 61 856 90 00 <br/>
                NIP: 777-00-05-497 <br/>
                REGON 00000-1525 <br/>
            </address>
            </h3>
        </div>
    </div>
    <div class="foot">
        &copy; 2022 DMA &amp; Adverte
    </div>
</body>
</html>