<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="images/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Partnerzy</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="web_script.js"></script>
    <div class="logo">
        <a href="/">
            <img src="images/adverte_logo_gif.gif">
        </a>
    </div>
</head>
<body>
    <div class="section">
        <div class="video_background_other_pages">
            <video autoplay loop muted>
                <source src="images/adverte_background2_mp4.mp4" type="video/mp4">
            </video>
        </div>
        <div class="logo">
            <a href="/">
                <img src="images/adverte_logo_gif.gif" type="image/gif">
            </a>
        </div>
        <div class="logged_menu">
            <ul>
                <li>
                    <form action="usun_uzytkownika?_method=DELETE" method="post">
                        <button type="submit">Usuń użytkownika</button>
                    </form>
                </li>
                <li>
                    <form action="/wyloguj?_method=DELETE" method="post">
                        <button type="submit">Wyloguj się</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="horizontal-menu-loggedin">
            <ul class="nav">
                <li><a href="/index_l"><span>Strona główna</span></a></li>
                <li><a href="/uslugi_l"><span>Usługi</span></a></li>
                <li><a href="/partnerzy_l#slide_1"><span>Partnerzy</span></a></li>
                <li><a href="/onas_l"><span>O nas</span></a></li>
                <li><a href="/kontakt_l"><span>Kontakt</span></a></li>
            </ul>
        </div>
        <div class="slider_wrapper">
            <div class="slider">
                <img id="slide_1" src="images/tiktok.jpg">
                <img id="slide_2" src="images/4f.jpg">
                <img id="slide_3" src="images/orlen.png">
                <img id="slide_4" src="images/wedel.png">
                <img id="slide_5" src="images/forbet.jpg">
                <img id="slide_6" src="images/instagram.jpg">
            </div>
            <div class="slider_nav" id="slider_nav">
                <a href="#slide_1"></a>
                <a href="#slide_2"></a>
                <a href="#slide_3"></a>
                <a href="#slide_4"></a>
                <a href="#slide_5"></a>
                <a href="#slide_6"></a>
            </div>
        </div>
    </div>
    <div class="foot">
        &copy; 2022 DMA &amp; Adverte
    </div>
  </body>
</html>