<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="images/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logowanie</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="https://kit.fontawesome.com/7dac996b90.js" crossorigin="anonymous"></script>
    <script src="web_script.js"></script>
    <div class="logo">
        <a href="/">
            <img src="images/adverte_logo_gif.gif">
        </a>
    </div>
</head>
<body>
    <div class="section">
        <div class="video_background_other_pages">
            <video autoplay loop muted>
                <source src="images/adverte_background2_mp4.mp4" type="video/mp4">
            </video>
        </div>
        <div class="logo">
            <a href="/">
                <img src="images/adverte_logo_gif.gif" type="image/gif">
            </a>
        </div>
        <div class="form_box">
            <h1 id="title">Rejestracja</h1>
            <% if(messages.error){ %>
                <%= messages.error %>
                <% } %>
            <form action="/rejestracja" method="post">
                <div class="input_group">
                    <div class="input_field" id="name_field">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Imię" name="name" required>
                    </div>
                    <div class="input_field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Email" name="email" required>
                    </div>
                    <div class="input_field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Hasło" name="password" required>
                    </div>
                    <div class="submit_button">
                        <button type="submit" id="submit_button">Zarejestruj się</button>
                    </div>
                    <div class="button_field">
                      <a href="/rejestracja">
                        <button type="button" id="sign_up_button">
                            Zarejestruj się
                        </button>
                      </a>
                      <a href="/logowanie">
                        <button type="button" id="sign_in_button" class="disable">
                            Zaloguj się
                        </button>
                      </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="foot">
        &copy; 2022 DMA &amp; Adverte
    </div>
</body>
</html>